* {
  box-sizing: border-box;
}

.rotate_menu {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform 1s ease-in; /* Changed here */ 
  -moz-transition: -moz-transform 1s ease-in;
  -o-transition: -o-transform 1s ease-in;
  transition: transform 1s ease-in;
}

.glyphicon {
  display: inline-block;
}

body {
  font-family: "Raleway", sans-serif;
}

#navbar {
  /*margin-top: 3em;*/
}

.navbar-nav {
  height: 3.5em;
  padding-top: .5em;
}

.navbar-nav > li {
  border-top: 3px solid white;
  margin-top: .2em;
  margin-bottom: 1em;
  margin-right: .5em;
  margin-left: .5em;
}

.navbar-nav > li > a {
  color: #757378;
  height: 35px;
  line-height: 0;
}

.current_tab {
  border-top-color: #29D9C2 !important;
}

.navbar-nav>li:hover {
  border-top: 3px solid #29D9C2;
  transition: border-top 0.2s ease-in-out 0;
}

.navbar-nav>li>a:hover {
  background-color: white;
}

.navbar-right {
  margin-right: -10px;
}

  .navbar-header {
    padding-top: .5em;
    padding-bottom: .5em;
  }

.navbar-brand {
  color: #2A94E0;
  font-size: 1.5em;
  margin-left: -.5em;
  transition: color 0.2s ease-in-out 0;
/*  position: fixed;
  background-color: white;
  z-index: 2;
  width: 102%;
  overflow: hidden;*/
}

.navbar-brand:hover {
  color: #F2AC57;
}

/*.navbar-right {
  margin-right: 0;
}*/

/*
.navbar > .nav > li:hover {
  border-top: 3px solid mediumseagreen;
  padding-top: .2em;
  transition: border-top 0.2s ease-in-out 0;
}*/

#main-landing {  
  height: 30em;
  width: 100%;
  background: url("./img/52.jpg") no-repeat;
  background-size: 110% 160%;
  overflow: hidden;
}

#main-landing-quote {
  color: white;
  font-family: "Raleway", serif;
  background-color: rgba(0,0,0,0.7);
  position: relative;
  top: 6em;
  padding: 1.2em 1.2em 1.2em 1.2em;
  font-size: 1.6em;
  line-height: 1.5em;
  border-radius: 3px;
  height: auto;
}

.name_font_trocchi {
  font-family: "Trocchi", sans-serif;
}

.testimonial + p {
  margin-bottom: 3em;
}

.testimonial {
  text-indent: 1.5em;
}

#main-landing-quote > span {
  display: block;
  text-indent: 3em;
  font-size: .8em;
}

#mission {
  margin-top: 3em;
}

.div_header {
  font-family: "Trocchi", serif;
  color: #2A94E0;
  text-align: center;
  font-size: 1.7em;
  margin: 0 0 1em 0;
}

.section_text{
  margin-top: 1em;
  line-height: 1.7em;
  font-size: 1.1em;
  color: #757378;
}

#offer {
  margin-bottom: 5em;
}

#offer > ul > li {
  /*padding: 0 0 0 2.5em;*/
}

.line{
  margin-left: calc(100% - 90%);
  width: 80%;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 5em;
  margin-top: 5em;
}

footer {
  background: url("./img/6.jpg") no-repeat;
  background-size: 90% 245%;
  background-position: -8em -16em;
  overflow: hidden;
  color: #757378;
  font-size: 1.2em;
}

footer > nav > div {
 padding: 3em 0 3em 0;
}

footer > nav > div > h2 {
  border-bottom: 3px solid #29D9C2;
  margin: 0 0 .5em 0;
  display: inline-block;
  color: #2A94E0;
  font-weight: bold;
}

footer > nav > div > p {
  padding: .5em 0 .5em 0;
}

#checkmark {
  display:inline-block;
  position: relative;
  width: 48px;
  height: 7px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

#stem {
  position: absolute;
  width: 3px;
  height: 25px;
  background-color: #ccc;
  left: 15px;
  top: -10px;
}

#kick {
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #ccc;
  left: 5px;
  top: 12px;
}

#about_div {
  margin-top: 3em;
}

.about_first_div {
  margin-top: 1em;
  margin-bottom: 5em;
}

.about_second_div {
  margin-bottom: 3em;
}

.about_text {
  text-indent: 1.5em;
}

.about_text:first-child {
  margin-top: 0;
}

.about_img {
  height: ;
  width: ;
}

.about_img_div {
  padding-left: 0;
}

#map-canvas {
  height: 500px;
  width: calc(100% - 20%);
  margin-left: calc(100% - 90%);
  margin-bottom: 3em;
}

#testimonial_div {
  margin-top: 3em;
}

#contact_div {
  margin-top: 3em;
  margin-bottom: 3em;
}

.input_single_div {
  margin-bottom: 1em;
  margin-top: 1em;
}

.input_single_div > input {
  margin-bottom: .5em;
  height: 2em;
  color: #757378;
  border: 2px solid gainsboro;
  border-radius: 3px;
}

#submit:hover {
  border: 2px solid #29D9C2;
}

input:focus {
  outline: none !important;
  border: 2px solid #29D9C2;
}

input[type=text] {
  padding: 3px;
  border: 1px solid gainsboro; 
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type=text]:focus {
  border-color: gainsboro;
}

input[type=submit] {
  padding: 8px;
  color: #2A94E0;
  background: white;
  border: 2px solid gainsboro;
  cursor:pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
    transition: border 0.4s ease-in-out 0;
}

.g-recaptcha {
  padding-left: calc(100% - 96%);
  margin-bottom: 1em;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .current_tab {
    border-bottom-color: none;
  }

  #navbar {
    font-size: .9em;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-nav > li:focus {
    color: #29D9C2;
  }

  .navbar-nav>li:hover {
    border-bottom: none;
    transition: none;
  }

  #main-landing {
    background-size: 100% 125%;
  }

  #main-landing-quote {
    top: calc(100% - 70%);
    font-size: 1.5em;
  }

  .input_single_div > input {
    height: 2.3em;
  }

  .g-recaptcha {
    padding-left: 0;
  }

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  #whole_navbar {
    position: fixed;
    background-color: white;
    z-index: 2;
    width: 100%;
  }

  #navbar {
    /*margin-top: 3em;*/
    border-bottom: 1px solid gainsboro;
  }

  .navbar-header {
    padding-bottom: 0;
  }

  .navbar-nav {
    padding-top: 0;
  }

  .navbar-nav>li{
    border-top: none;
    margin-top: 0;
    /*height: 2em;*/
  }

  .current_tab {
    border-bottom-color: none;
  }

  .navbar-nav>li:hover {
    border-bottom: none;
    transition: none;
    padding-top: 0;
    border-top: none;
  }

  .navbar-nav > li > a {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .div_header {
    font-size: 1.2em;
  }

  .navbar-toggle {
    margin-right: 5px;
  }

  .navbar-brand {
    color: #2A94E0;
    position: fixed;
    background-color: white;
    z-index: 2;
    font-size: 1.1em;
  }

  .section_text {
    font-size: 1em;
  }

  #mission {
    position: relative;
    top: -5em;
    margin-top: 0;
  }

  .line {
    margin-top: 0;
  }

  #main-landing {
    background-size: 125% 75%;
    overflow: hidden;
    margin-bottom: 0;
  }

  #main-landing-quote {
    /*height: 35%;*/
    top: calc(100% - 70%);
    font-size: 1em;
  }

  .about_img {
    height: 160px;
    width: 150px;
    padding-left: 0;
    position: relative;
    top: 6px;
    margin-bottom: 15px;
  }

  #testimonial_div, #contact_div, #about_div {
    margin-top: 5em;
  }

  #map-canvas {
    height: 400px;
    width: calc(100% - 10%);
    margin-left: calc(100% - 95%);
    margin-bottom: 3em;
  }

  .g-recaptcha {
    padding-left: calc(100% - 95%);
  }

  nav > div {
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    height: 12em;
  }

  footer > nav > div > p {
    font-size: .8em;
  }

}


